{% extends "ProfileLayout.html" %}
{% load staticfiles %}
{% block content %}
                {% for f in film %}
                    <div id="outputFilm"  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0" style="display: inline-block; margin-top: 2rem; text-align: left; text-align-last: left;">

                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="display: inline-block; vertical-align: top;">
                            <img id="filmImage" src="{{ f.image }}" width="100%" height="100%">
                            <div class="col-12 p-2" style="display:inline-block; text-align: justify; text-align-last: justify">
                                <span style="font-size: 1.5rem; color:#000; display: inline-block">
                                    {% if clockFlag == True %}
                                        <i class="fas fa-clock" id="clockIcon"></i>
                                    {% else %}
                                        <i class="far fa-clock" id="clockIcon"></i>
                                    {% endif %}
                                </span>
                                <div class="dropdown" style="display: inline-block; vertical-align: middle">
                                <button id="listAlbum" style="display: inline-block; color: #000" class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-list"></i>
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      {% for a in album %}
                                        <a class="dropdown-item addFilmInAlbum">{{ a.name }}</a>
                                      {% endfor %}
                                    <a class="dropdown-item" data-toggle="modal" data-target="#albumModal" >Добавить альбом и сохранить</a>
                                  </div>
                                </div>
                                <span style="font-size: 1.5rem; color:rgb(255,187,0); display: inline-block">
                                    {% if starFlag == True %}
                                        <i class="fas fa-star" id="starIcon"></i>
                                    {% else %}
                                        <i class="far fa-star" id="starIcon"></i>
                                    {% endif %}
                                </span>


                            </div>

                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="display: inline-block; vertical-align: top;">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmName" class="film-name">
                                    {{ f.name }}
                                </label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmOriginal" class="film-original-name">
                                    {{ f.original_name }}
                                </label>
                            </div>
                            <div id="filmRating" class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7" style="display: inline-block;">
                                {% for r in rating %}
                                <span class="str" style="font-size: 1.25rem; color:rgb(255,187,0);">
                                    <i class="fas fa-star"></i>
                                </span>
                                    {% endfor %}
                                {% for nr in notrating %}
                                <span class="str"  style="font-size: 1.25rem; color:rgb(232,232,232);">
                                    <i class="fas fa-star"></i>
                                </span>
                                    {% endfor %}
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="display: inline-block;">

                                <span style="font-size: 1.25rem; color:rgb(254,31,31);" >
                                    {% if likeFlag == True %}
                                        <i class="fas fa-heart" id="likeIcon"></i>
                                    {% else %}
                                        <i class="far fa-heart" id="likeIcon"></i>
                                    {% endif %}
                                </span>

                                <label class="film-likes" id="filmLikes">{{ likes }} likes</label>
                            </div>

                            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7" style="display: inline-block; text-align-last: left">
                                <span style="font-size: 1.25rem; color:#000; display: inline-block">
                                    <i class="far fa-flag"></i>
                                </span>
                                <label id="filmCountry" class="film-country">{{ country }}</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="display: inline-block; text-align-last: left">
                                <span style="font-size: 1.25rem; color:#000; display: inline-block">
                                    <i class="far fa-clock"></i>
                                </span>
                                <label id="filmDuration" class="film-time">{{ f.duration }}</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmYear" class="film-year">Год: 2018</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmProducer" class="film-producer">Режиссер:{{ f.producer }}</label>
                            </div>
                            <div id="filmGenres" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="display: inline-block;">
                                {% for g in genre %}
                                    <label class="film-genre">{{ g }}</label>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <label id="filmText" class="film-description">
                            {{ f.text }}
                            </label>
                        </div>
</div>
    {% endfor %}
                        <div class="search-div col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 pb-3" style="display: inline-block; text-align: center;">
                            <button id="send" type="button" data-toggle="modal" data-target="#commentModal" style="border:1px solid rgb(0,87,115)" class="btn send">Оставить комментарий</button>
                        </div>
                    {% for c in comments %}
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 comment-card" style="display: inline-block;">
                            <h4 style="display: inline-block;margin-right: 2rem">{{ c.id_user.first_name }}</h4>
                            <label class="small">{{ c.date_time|date:"m-d-Y H:i" }}</label>
                            <label class="film-coment" id="commentText" style="width: 100%">{{ c.text }}</label>
                            <hr/>
                        </div>
                    {% endfor %}




<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Оставить комментарий</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align-last: left">
          <label for="inputEmail" style="width: 100%">Текст</label>
          <textarea name="comText" style="width: 100%" id="comText" cols="30" rows="10" placeholder="Введите текст"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeComment" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" id="sendComment" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>



            <div class="modal fade" id="albumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить альбом</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align-last: left">
          <label for="inputEmail" style="width: 100%">Название альбома</label>
          <input type="text" name="albumName" style="width: 100%" id="albumName" placeholder="Введите имя альбома">
          <div id="alert" class="alert alert-danger" role="alert" style="text-align: left; text-align-last: left; display: none; margin-top: 1rem;">
              Это уведомление об опасности — check it out!
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeAlbum" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" id="sendAlbumAndAddFilm" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}