{% extends "ProfileLayout.html" %}
{% load staticfiles %}
{% block content %}
                    <div class="accordion col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0" id="accordionExample" style="display: inline-block; text-align: left; text-align-last: left">
                        <div class="card mb-3">
                            <div  id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="display: inline-block; background-color: #333;">
                            <h5 class="mb-0">
                            <button class="btn btn-link label-body m-1" style="text-decoration: none; color: #fff">
                                ЖАНР
                            </button>

                            </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="col-12 col-sm-12 col-md-12 mb-3" >
                                <select id="genre1" type="combobox" class="btn btn-outline-info down" style="width: 100%">
                                    {% for g in genres %}
                                    <option class="down down-option">{{ g.name }}</option>
                                    {% endfor %}
                                </select>
                                </div>

{#                                <div class="col-12 col-sm-12 col-md-12 mb-3">#}
{#                                <select id="genre2" type="combobox" class="btn btn-outline-info down" style="width: 100%">#}
{#                                    {% for genre in genres %}#}
{#                                    <option class="down down-option">{{ genre.name }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                                </div>#}
{##}
{#                                <div class="col-12 col-sm-12 col-md-12 mb-3">#}
{#                                <select id="genre3" type="combobox" class="btn btn-outline-info down" style="width: 100%">#}
{#                                    {% for genre in genres %}#}
{#                                    <option class="down down-option">{{ genre.name }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                                </div>#}
{##}
{#                                <div class="col-12 col-sm-12 col-md-12 mb-3">#}
{#                                <select id="genre4" type="combobox" class="btn btn-outline-info down" style="width: 100%">#}
{#                                    {% for genre in genres %}#}
{#                                    <option class="down down-option">{{ genre.name }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                                </div>#}
{##}
{#                                <div class="col-12 col-sm-12 col-md-12 mb-3">#}
{#                                <select id="genre5" type="combobox" class="btn btn-outline-info down" style="width: 100%">#}
{#                                    {% for genre in genres %}#}
{#                                    <option class="down down-option">{{ genre.name }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                                </div>#}
                            </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div  id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="display: inline-block; background-color: #333;">
                            <h5 class="mb-0">
                            <button class="btn btn-link label-body m-1" style="text-decoration: none; color: #fff">
                                ГОД
                            </button>
                            </h5>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                            <div class="col-12 col-sm-12 col-md-5 p-0" style="display: inline-block;">
                                <label class="label-year">
                                    ОТ
                                </label>
                                <select id="startYear" type="combobox" class="btn btn-outline-info down" style="width: 100%;">
                                    {% for year in years %}
                                    <option class="down down-option">{{ year.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-sm-12 col-md-5 p-0" style="display: inline-block;">
                                <label class="label-year">
                                    ДО
                                </label>
                                <select id="endYear" type="combobox" class="btn btn-outline-info down" style="width: 100%">
                                    {% for year in years %}
                                    <option class="down down-option">{{ year.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div  id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="display: inline-block; background-color: #333;">
                            <h5 class="mb-0">
                            <button class="btn btn-link label-body m-1" style="text-decoration: none; color: #fff">
                                СТРАНА
                            </button>
                            </h5>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                            <div class="col-12 col-sm-12 col-md-12">
                                <select id="country" type="combobox" class="btn btn-outline-info down" style="width: 100%">
                                    {% for country in countries %}
                                    <option class="down down-option">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div  id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="display: inline-block; background-color: #333;">
                            <h5 class="mb-0">
                            <button class="btn btn-link label-body m-1" style="text-decoration: none; color: #fff">
                                РЕЙТИНГ
                            </button>
                            </h5>
                            </div>

                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                            <div class="form-group">
                                <!-- <label for="formControlRange">Example Range input</label>
                                <input type="range" class="form-control-range" id="formControlRange" min="1" max="20" step="1"> -->

                                <div id="reviewStars-input">
                                    <input id="star-4" type="radio" name="reviewStars" value="true"/>
                                    <label title="gorgeous" for="star-4"></label>

                                    <input id="star-3" type="radio" name="reviewStars" value="true"/>
                                    <label title="good" for="star-3"></label>

                                    <input id="star-2" type="radio" name="reviewStars" value="true"/>
                                    <label title="regular" for="star-2"></label>

                                    <input id="star-1" type="radio" name="reviewStars" value="true"/>
                                    <label title="poor" for="star-1"></label>

                                    <input id="star-0" type="radio" name="reviewStars" value="true"/>
                                    <label title="bad" for="star-0"></label>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>


                    </div>

                    <div class="search-div col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0" style="display: inline-block; margin-top: 2rem; background-color: rgb(0,87,115); text-align: center;">
                        <a class="label-search m-0" id="categorySearchProfile" style="text-decoration: none; width: 100%; display: inline-block; color: #fff; text-align-last: center" >
                            НАЙТИ
                            </a>
                    </div>
    <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 p-0" id="loader" style="display: none; margin-top: 2rem; text-align-last: center; text-align: center">
<div id="circularG" style="display:inline-block;">
<div id="circularG_1" class="circularG">
</div>
<div id="circularG_2" class="circularG">
</div>
<div id="circularG_3" class="circularG">
</div>
<div id="circularG_4" class="circularG">
</div>
<div id="circularG_5" class="circularG">
</div>
<div id="circularG_6" class="circularG">
</div>
<div id="circularG_7" class="circularG">
</div>
<div id="circularG_8" class="circularG">
</div>
</div>
</div>

                    <div id="outputFilm"  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0" style="display: none; margin-top: 2rem; text-align: left; text-align-last: left">

                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="display: inline-block; vertical-align: top;">
                            <img id="filmImage" src="" width="100%" height="100%">
                            <div class="col-12 p-2" style="display:inline-block; text-align: justify; text-align-last: justify">
                                <span style="font-size: 1.5rem; color:#000; display: inline-block">
                                    <i class="far fa-clock" id="clockIcon"></i>
                                </span>
                                <div class="dropdown" style="display: inline-block; vertical-align: middle">
                                <button id="listAlbum" style="display: inline-block; color: #000" class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-list"></i>
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      {% for a in album %}
                                        <a class="dropdown-item addFilmInAlbum">{{ a.name }}</a>
                                      {% endfor %}
                                    <a class="dropdown-item" data-toggle="modal" data-target="#albumModal" >Добавить альбом и сохранить</a>
                                  </div>
                                </div>
                                <span style="font-size: 1.5rem; color:rgb(255,187,0); display: inline-block">
                                    <i class="far fa-star" id="starIcon"></i>
                                </span>


                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="display: inline-block; vertical-align: top;">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmName" class="film-name">
                                    Название
                                </label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmOriginal" class="film-original-name">
                                    оригинальное название
                                </label>
                            </div>
                            <div id="filmRating" class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7" style="display: inline-block;">
                                <span class="str" style="font-size: 1.25rem; color:rgb(255,187,0);">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="str"  style="font-size: 1.25rem; color:rgb(255,187,0);">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="str"  style="font-size: 1.25rem; color:rgb(255,187,0);">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="str"  style="font-size: 1.25rem; color:rgb(255,187,0);">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="str"  style="font-size: 1.25rem; color:rgb(232,232,232);">
                                    <i class="fas fa-star"></i>
                                </span>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="display: inline-block;">
                                <span style="font-size: 1.25rem; color:rgb(254,31,31);">
                                    <i class="far fa-heart" id="likeIcon"></i>
                                </span>
                                <label class="film-likes" id="filmLikes">123 likes</label>
                            </div>

                            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7" style="display: inline-block;">
                                <span style="font-size: 1.25rem; color:#000">
                                    <i class="far fa-flag"></i>
                                </span>
                                <label id="filmCountry" class="film-country">Россия</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="display: inline-block;">
                                <span style="font-size: 1.25rem; color:#000">
                                    <i class="far fa-clock"></i>
                                </span>
                                <label id="filmDuration" class="film-time">84 мин</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmYear" class="film-year">Год: 2018</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmProducer" class="film-producer">Режиссер:_____</label>
                            </div>
                            <div id="filmGenres" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="display: inline-block;">

                            </div>
                        </div>


                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <label id="filmText" class="film-description">
                            описание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описаниеописание описание
                            описание описаниеописание описаниеописание описаниеописание описаниеописание описание
                            </label>
                        </div>

                        <div class="search-div col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 pb-3" style="display: inline-block; text-align: center;">
                            <button id="send" type="button" data-toggle="modal" data-target="#commentModal" style="border:1px solid rgb(0,87,115)" class="btn send">Оставить комментарий</button>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 comment-card" style="display: inline-block;">
                            <h4 style="display: inline-block;margin-right: 2rem">Alex</h4>
                            <label class="small">05.04.2019 20:24</label>
                            <label class="film-coment" id="commentText" style="width: 100%">rjvvtyn1</label>
                            <hr/>
                        </div>

                    </div>

    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Оставить комментарий</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align-last: left">
          <label for="inputEmail" style="width: 100%">Текст</label>
          <textarea name="comText" style="width: 100%" id="comText" cols="30" rows="10" placeholder="Введите текст"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeComment" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" id="sendComment" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>


            <div class="modal fade" id="albumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить альбом</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align-last: left">
          <label for="inputEmail" style="width: 100%">Название альбома</label>
          <input type="text" name="albumName" style="width: 100%" id="albumName" placeholder="Введите имя альбома">
          <div id="alert" class="alert alert-danger" role="alert" style="margin-top:1rem;text-align: left; text-align-last: left; display: none">
              Это уведомление об опасности — check it out!
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeAlbum" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" id="sendAlbumAndAddFilm" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}