{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
                {% for f in film %}
                    <div id="outputFilm"  class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 p-0" style="display: inline-block; margin-top: 2rem;text-align: left;text-align-last: left">

                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="display: inline-block; vertical-align: top;">
                            <img id="filmImage" src="{{ f.image }}" width="100%" height="100%">

                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="display: inline-block; vertical-align: top;">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmName" class="film-name">
                                    {{ f.name }}
                                </label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmOriginal" class="film-original-name">
                                    {{ f.original_name }}
                                </label>
                            </div>
                            <div id="filmRating" class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7" style="display: inline-block;">
                                {% for r in rating %}
                                <span class="str" style="font-size: 1.25rem; color:rgb(255,187,0);">
                                    <i class="fas fa-star"></i>
                                </span>
                                    {% endfor %}
                                {% for nr in notrating %}
                                <span class="str"  style="font-size: 1.25rem; color:rgb(232,232,232);">
                                    <i class="fas fa-star"></i>
                                </span>
                                {% endfor %}
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="display: inline-block;">

                                <span style="font-size: 1.25rem; color:rgb(254,31,31);" >
                                        <i class="fas fa-heart" id="likeIcon"></i>
                                </span>

                                <label class="film-likes" id="filmLikes">{{ likes }} likes</label>
                            </div>

                            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7" style="display: inline-block; text-align-last: left">
                                <span style="font-size: 1.25rem; color:#000; display: inline-block">
                                    <i class="far fa-flag"></i>
                                </span>
                                <label id="filmCountry" class="film-country">{{ country }}</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="display: inline-block; text-align-last: left">
                                <span style="font-size: 1.25rem; color:#000; display: inline-block">
                                    <i class="far fa-clock"></i>
                                </span>
                                <label id="filmDuration" class="film-time">{{ f.duration }}</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmYear" class="film-year">Год: 2018</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label id="filmProducer" class="film-producer">Режиссер:{{ f.producer }}</label>
                            </div>
                            <div id="filmGenres" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="display: inline-block;">
                                {% for g in genre %}
                                    <label class="film-genre">{{ g }}</label>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <label id="filmText" class="film-description">
                            {{ f.text }}
                            </label>
                        </div>

    {% endfor %}

                    </div>

{% endblock %}